.clubInfo {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.clubInfo > img {
    width: 180px;
    border: 8px #87CEFA solid;
}

.clubInfo > div {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.clubInfo > div > h4 {
    vertical-align: top;
}

.clubName {
    border-bottom: 2px solid #87CEFA;
}

.contact {
    padding-top: 20%;
    text-decoration: none;
    color: black;
}

.clubLocation {
    width: 50%;
    text-align: start;
}

.write {
    text-align: end;
    padding-right: 2%;
}

.writeBtn {
    padding: 4px;
    border: 1px solid skyblue;
    background-color: rgb(164, 229, 255);
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
}

.listTop {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-top: 4px solid lightblue;
    border-bottom: 4px solid lightblue;
}

.postId {
}

.postTitle {
    width: 85%;
    background-color: lightcoral;
}

.postDate {
    width: 5%;
}

.detailBtn {
    padding: 6px 12px 6px 12px;
    border: 1px solid skyblue;
    background-color: rgb(164, 229, 255);
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
}