/* clubContent 속성(페이지 내용) */
.clubInfo {
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    background-color: hsl(203, 92%, 75%, 0.5);
}

.infoLeft {
    display: flex;
    padding-bottom: 80px;
}

.leftImg {
    width: 200px;
    height: fit-content;
    background-color: white;
}

.leftImg > img {
    width: 100%;
}

.infoLeft > div {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.infoLeft > div > h4 {
    vertical-align: top;
}

.clubName {
    text-align: center;
    border-bottom: 2px solid #87CEFA;
}

.contact {
    width: 90px;
    padding-top: 20%;
}

.contact > img {
    width: 100%;
}

.clubLocation {
    width: 50%;
    text-align: start;
}

.clubPost {
    min-width: 1200px;
}

.write {
    text-align: end;
    padding-right: 2%;
}

.writeBtn {
    padding: 6px;
    border-radius: 10px;
    background-color: #87CEFE;
    border: 1px solid #87CEFE;
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
}

/* postList.js 속성(글 목록) */
.postList {
    margin-bottom: 20px;
}

.listTop {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    border-top: 4px solid lightblue;
    border-bottom: 4px solid lightblue;
}

.list {
    padding: 2px;
    border-bottom: 2px solid;
}

.list > li {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.topID {
    text-align: center;
}

.topTitle {
    width: 85%;
    text-align: center;
    background-color: lightcoral;
}

.topDate {
    width: 5%;
    text-align: center;
}

.postID {
    text-align: center;
}

.postTitle {
    width: 85%;
    text-align: center;
}

.postDate {
    width: 5%;
    text-align: center;
}

/* post페이지 속성(버튼) */
.detailBtn {
    padding: 6px 40px 6px 40px;
    background-color: #87CEFE;
    border: 1px solid #87CEFE;
    border-radius: 10px;
    font-size: 11pt;
    font-weight: bold;
    cursor: pointer;
}