.footer-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 300px;
    flex-direction: row;
    background-color: hsl(203, 92%, 75%, 0.5);
    min-width: 1500px;
}

.idea-box{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 15%;
}

.idea-img{
    margin: 1rem;
}


.idea-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.idea{
    font-size: 20px;
}

.idea{
    margin: 1rem;
}

.intro-box {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    margin: 0 auto;
}

.intro-img{
    margin: 1rem;
}

.footer-logo{
    width: 100%;
    height: 60%;
    margin: 3rem auto;
}

.intro-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

.txt{
    margin: 0;
    font-weight: bold;
    font-size: large;
    text-align: left;
    line-height: 200%;
}
