.footer-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    flex-direction: row;
    background-color: #87CEFA;
}

.idea-box{
    display: flex;
    width: 50%;
    flex-direction: row;
}

.idea-img{

}

.idea-text{

}

.idea{
    margin: 1rem;
}

.intro-box {
    display: flex;
    width: 50%;
    flex-direction: row;
    margin: 0 auto;
}

.logo{

}

.intro-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem;
}

.txt{
    margin: 0;
}