.headTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headLeft {
    width: 20%;
}

.logo {
    width: 120px;
}

.headCenter {
    width: 60%;
}

.headCenter > a {
    cursor: pointer;
}

.headRight {
    display: flex;
    width: 20%;
    padding-top: 60px;
    list-style: none;
}

.headRight > li {
    padding: 10px;
}

.headBottom {
    display: flex;
    justify-content: space-around;
    padding: 10px 80px 10px 80px;
    margin: 10px 0 10px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    list-style: none;
}