.headTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottomLeft {
    width: 20%;
    margin-right: 10%;
}

.logo {
    width: 70px;
}

.headCenter {
    width: 80%;
    padding-left: 15%;
}

.headCenter > img {
    cursor: pointer;
}

.headRight {
    display: flex;
    width: 20%;
    padding-top: 85px;
    list-style: none;
}

.headRight > li {
    padding: 10px;
}

.headBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20% 10px 0;
    margin-bottom: 10px;
    border-top: 4px solid hsl(203, 92%, 75%, 0.5);
    border-bottom: 4px solid hsl(203, 92%, 75%, 0.5);
    list-style: none;
}

.clubCategory {
    display: flex;
    font-size: 18pt;
    width: 20%;
}

.clubCategory > a {
    width: 90%;
    margin-right: 5%;
}