.titleBox {
    width: 90%;
    border: 3px solid #87CEFE;
    border-radius: 10px;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 20px;
    padding: 8px;
}

.contentBox {
    width: 90%;
    border: 3px solid #87CEFE;
    border-radius: 10px;
    resize: none;
    height: 500px;
    padding: 10px;
    font-size: 11pt;
}

.postBtn {
    text-align: end;
    padding-top: 15px;
}

.postBtn > button {
    padding: 4px 30px 4px 30px;
    background-color: #87CEFE;
    border: 1px solid #87CEFE;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
    margin-right: 4%;
}